$brand-color-700: #87cc87;
$brand-color-600: #77b377;
$brand-color-500: #669966;
$brand-color-400: #558055;
$brand-color-300: #446644;

$light-gray-900: #eee;
$light-gray-700: #ddd;
$light-gray-500: #ccc;
$light-gray-300: #bbb;
$light-gray-100: #aaa;


html, body {
  margin: 0 auto;
  max-width: 960px;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background: $brand-color-500;
  color: white;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

